# Игнорировать окружение и конфигурационные файлы
.env

# Игнорировать зависимости Composer
/vendor/
/composer.lock

# Игнорировать логи и временные файлы
*.log
*.cache
*.tmp

# Игнорировать данные IDE (например, настройки для VSCode)
.vscode/
.idea/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать папку с загруженными файлами или изображениями (если такая есть)
uploads/

# Игнорировать резервные копии файлов
*.bak
*.swp
